@font-face {
	font-family: "Golos Text";
	font-weight: 600;
	font-style: normal;
	src: url("../fonts/GolosText/GolosText-SemiBold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Golos Text";
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/GolosText/GolosText-Medium.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Golos Text";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/GolosText/GolosText-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Golos Text";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/GolosText/GolosText-Bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Merriweather";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/Merriweather/Merriweather-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Merriweather";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/Merriweather/Merriweather-Bold.woff2") format("woff2");
	font-display: swap;
}