//Viewports
$mobile-width: 100px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Fonts
$primary-font: "Golos Text", "Arial", sans-serif;
$secondary-font: "Merriweather";

//colors
$transparent: transparent;
$transparent-button: rgba(255, 255, 255, 0.9);
$white: #ffffff;
$black: #000000;
$black-text: #313131;
$black-button: #1f1f1f;
$dark-gray-logo: #595653;
$gray-border: #d0d0d0;
$gray-pag: #d9d9d9;
$beige-background: #e9ded4;
$red: #f54932;
$blue: #3057a2;
$yellow: #fbce51;
